*.mdb 
*.dll
*.dll
*.pdb
*.XML
bin/ 
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.user
/Code/Lib/.vs/Library/v15/Server/sqlite3
/Code/Lib/.vs/Library/v15/sqlite3/db.lock
/Code/Lib/.vs/Library/v15/sqlite3/storage.ide-shm
/Code/Lib/.vs/Library/v15/sqlite3/storage.ide-wal
