
Code/Lib/TestPj/obj/Debug/TestPj.csproj.FilesWrittenAbsolute.txt

Code/Lib/TestPj/obj/Debug/TestPj.exe.mdb

Code/Lib/TestPj/obj/Debug/TestPj.exe

Code/Lib/TestPj/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttribute.cs

Code/Lib/TestPj/bin/Debug/TestPj.exe.mdb

Code/Lib/TestPj/bin/Debug/TestPj.exe.config

*.exe

Code/Lib/TestPj/bin/Debug/Library.xml

Code/Lib/TestPj/bin/Debug/Library.Draw.xml

*.mdb

Code/Lib/Library.Core/obj/Debug/Library.Core.dll

Code/Lib/Library.DBProvider/obj/Debug/Library.DBProvider.dll

Code/Lib/Library.Draw/obj/Debug/Library.Draw.dll

Code/Lib/Library.Win/obj/Debug/Library.Win.dll

Code/Lib/TestPj/bin/Debug/Library.Core.dll

Code/Lib/TestPj/bin/Debug/Library.dll

Code/Lib/TestPj/bin/Debug/Library.Draw.dll

Code/Lib/TestPj/bin/Debug/Library.Core.xml

Code/Lib/Library/obj/Debug/Library.dll
